<div class="tech-btm">
    <h4>Sitede Oturanlar İçin Kayıt İşlemi</h4>
   
    <form action="/Ev/SubscribeMail/" method="post">
        <label>Ad Soyad:  <input type="text" placeholder="" required="" name="EvNAME"></label>
        <input type="email" placeholder="Email" required="" name="EvMail">

        <input type="submit" value="KAYIT OL">
    </form>

</div>