<h1></h1> <div class="comment-top">
    <h4>Daire Kayıt İşlemi</h4>
    <div class="comment-bottom">
        <form action="/Daire/PartialAddDaire/" method="post">
            <input class="form-control" type="text" name="BlokNUMARA" placeholder="Blok Bilgisi" required="">
            <input class="form-control" type="text" name="DaireNUMARA" placeholder="Daire Numarası" required="">

            <input class="form-control" type="text" name="DaireKAT" placeholder="Daire KAT" required="">

            <textarea class="form-control" name="DaireACIKLAMA" placeholder="Daire Açıklama" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Kaydet</button>
        </form>
    </div>
</div>